@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>   

<address>
    Ritesh<br />
    Singapore<br />
    <abbr title="Mobile">mob:</abbr>
    +65 93703311
</address>

<address>
    <strong>Support:</strong> <a href="mailto:selvarajks@gmail.com.com">Selvarajks@gmail.com</a><br />    
</address>
