@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>   

<address>
    Selvaraj<br />
    Singapore<br />
    <abbr title="Phone">P:</abbr>
    65- 93703300
</address>

<address>
    <strong>Support:</strong> <a href="mailto:selvarajks@gmail.com.com">Selvarajks@gmail.com</a><br />    
</address>
